.hero-text{
  width: 486px;
  border-bottom: 1px solid #f6f6f6;
  display: flex;
  flex-flow: column;
  align-items: flex-end;
  padding: 18px 4px 10px 0;
  &__description{
    padding-top: 5px;
    @include font(14px, 'Oxygen');
    color: #666;
    text-align: right;
    padding-left: 82px;
  }
}