.hero-slider{
  padding: 5px;
  background-color: #f6f6f6;
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.25);
  width: 302px;
  position: relative;
}
/*
.hero-slider:after{
  position: absolute;
  content: "";
  width: 298px;
  height: 1px;
  box-shadow: 0 0 22px #868686;
  bottom: -15px;
}
.hero-slider:before{
  position: absolute;
  content: "";
  width: 298px;
  height: 1px;
  box-shadow: 0 0 22px #868686;
  bottom: -15px;
}*/