$c-white_1: #e1e1e1;
$c-white_2: #ececec;
$c-white: #fff;
$c-gray_1: #e5e5e5;
$c-gray_2: #aaa;
$c-gray_3: #666;
$c-gray_4: #515151;
$c-black_1: #222;
$c-black_2: #000;
$c-orange_1: #ffc24b;
$c-orange_2: #efb84b;
$c-orange_3: #d28600;

$list-border: $c-gray_1;
$list-txt: $c-gray_2;
$hover-txt: $c-black_2;
$txt: $c-gray_3;
$btn-border: $c-orange_2;
$btn-txt: $c-white;
$btn-bg: $c-orange_1;
$btn-c-orange: $c-orange_3;
$caption-txt: $c-black_1;
$caption-amazing: $c-gray_4;
$caption-undiscovered-beauty: $c-gray_3;
$main-bg: $c-white;