@import url("https://fonts.googleapis.com/css?family=Oleo+Script|Oxygen");
* {
  box-sizing: border-box;
  outline: none; }

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1.2; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

ol {
  padding-left: 1.4em;
  list-style: decimal; }

ul {
  padding-left: 1.4em;
  list-style: square; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

.wrapper {
  background: url("../images/background.jpg");
  position: relative;
  padding: 61px 0 84px 0; }

.content {
  width: 972px;
  margin: 0 auto;
  background: #fff;
  border-radius: 3px;
  padding: 13px 20px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
  position: relative; }
  .content:before {
    content: "";
    width: 100%;
    height: 6px;
    background: #fff;
    border-radius: 3px;
    border-bottom: 1px solid #ececec;
    position: absolute;
    bottom: 2px;
    left: 0; }
  .content:after {
    content: "";
    width: 100%;
    height: 6px;
    background: #fff;
    border-radius: 3px;
    border-bottom: 1px solid #ececec;
    position: absolute;
    bottom: 5px;
    left: 0; }
  .content_afterline {
    margin-bottom: 43px;
    padding: 13px 20px 0 20px; }
    .content_afterline:before {
      box-sizing: border-box;
      content: "";
      width: 932px;
      height: 1px;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
      background: #e1e1e1;
      bottom: -43px;
      margin: 21px 17px;
      left: 0; }
    .content_afterline:after {
      content: "";
      display: none; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0; }

.logo {
  display: flex;
  flex-flow: column;
  padding: 0 10px; }
  .logo__header {
    color: #222;
    font: normal 400 40px "Oleo Script", "Arial", "Tahoma", sans-serif; }

.description {
  color: #999;
  font: normal 400 11px "Arial", "Arial", "Tahoma", sans-serif; }
  .description_left_2 {
    padding-left: 5px; }

.menu {
  font-size: 0;
  display: flex; }
  .menu__item {
    margin-left: 30px;
    position: relative; }
    .menu__item:first-child {
      margin-left: 0; }
  .menu__link {
    color: #666;
    font: normal 400 14px "Oxygen", "Arial", "Tahoma", sans-serif;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
    transition: color .3s; }
    .menu__link:hover {
      color: #222;
      transition: color .3s; }

.btn {
  text-shadow: 0 -1px 1px rgba(198, 141, 30, 0.7);
  color: #fff;
  background: #ffc24b linear-gradient(to top, rgba(0, 0, 0, 0.02) 0%, rgba(255, 255, 255, 0.02) 100%);
  border-radius: 3px;
  box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.13);
  border: 1px solid #efb84b;
  text-decoration: none;
  position: relative;
  transition: color .3s;
  cursor: pointer; }
  .btn:hover {
    color: #000; }
  .btn_promo {
    display: inline-block;
    width: 168px;
    line-height: .9em;
    padding: 5px 40px 5px 7px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), inset 0 0 0 rgba(0, 0, 0, 0.13); }
    .btn_promo:after {
      content: "";
      width: 41px;
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      background: url("../images/sprite.png") no-repeat -422px -4px; }
  .btn_c_orange {
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
    color: #d28600;
    font: normal 400 10px "Arial", "Arial", "Tahoma", sans-serif;
    text-transform: uppercase; }
  .btn_submit {
    padding: 6px 18px; }

.submenu {
  background-color: white;
  border: 1px solid #ddd;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.06);
  position: absolute;
  padding: 10px 6px;
  width: 166px;
  border-radius: 2px;
  top: 42px;
  left: 0;
  z-index: 333;
  opacity: 1;
  transition: opacity 0.5s; }
  .submenu__item {
    display: inline-block;
    position: relative;
    width: 152px; }
    .submenu__item:hover .submenu__link {
      width: 152px;
      background: #f3f3f3;
      border-radius: 3px;
      margin: 6px 0; }
    .submenu__item:hover:first-child .submenu__link {
      margin-top: 0; }
    .submenu__item:hover:last-child .submenu__link {
      margin-bottom: 0; }
    .submenu__item:hover .submenu__description {
      display: block; }
  .submenu:before {
    content: "";
    position: absolute;
    z-index: 100;
    width: 6px;
    height: 6px;
    border: 1px solid #e0e0e0;
    border-color: transparent #e0e0e0 #e0e0e0 transparent;
    transform: rotate(45deg);
    background: #fff;
    left: 21px;
    top: -5px; }
  .submenu:after {
    content: "";
    height: 1px;
    position: absolute;
    width: 145px;
    background: #e5e5e5;
    bottom: 0;
    left: 4px; }
  .submenu:last-child:after {
    height: 0; }
  .submenu__link {
    display: inline-block;
    padding: 8px 2px;
    font: normal 400 12px "Oxygen", "Arial", "Tahoma", sans-serif;
    color: #666;
    text-decoration: none;
    width: 145px;
    margin: 0 auto;
    position: relative;
    transition: color 0.3s; }
    .submenu__link:hover {
      color: #000;
      transition: color 0.3s; }
  .submenu__description {
    display: none;
    color: #aaa;
    font: normal 400 10px "Arial", "Arial", "Tahoma", sans-serif; }
  .submenu_hide {
    opacity: 0;
    z-index: -100;
    transition: opacity 0.5s; }

.hero {
  display: flex;
  justify-content: space-between;
  padding: 56px 68px 56px 56px;
  position: relative;
  border-bottom: 1px solid #ececec; }

.hero-slider {
  padding: 5px;
  background-color: #f6f6f6;
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.25);
  width: 302px;
  position: relative; }

/*
.hero-slider:after{
  position: absolute;
  content: "";
  width: 298px;
  height: 1px;
  box-shadow: 0 0 22px #868686;
  bottom: -15px;
}
.hero-slider:before{
  position: absolute;
  content: "";
  width: 298px;
  height: 1px;
  box-shadow: 0 0 22px #868686;
  bottom: -15px;
}*/
.slider {
  width: 292px;
  height: 189px;
  position: relative;
  overflow: hidden;
  font-size: 0;
  white-space: nowrap; }
  .slider__item {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    transition: opacity 0.5s; }
    .slider__item_visible {
      opacity: 1;
      transition: opacity 0.5s; }
  .slider__img {
    width: 292px;
    height: 189px; }
  .slider__control-panel {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 2px;
    display: flex;
    justify-content: space-around; }
  .slider__btn {
    width: 32px;
    height: 49px;
    opacity: 0.6;
    border-radius: 3px;
    border: none;
    font-size: 0;
    cursor: pointer;
    padding: 0;
    background: url("../images/sprite.png") 0 0 no-repeat; }
    .slider__btn_prev {
      background-position: 0 0; }
    .slider__btn_next {
      background-position: -32px 0; }
  .slider__description {
    width: 214px;
    height: 49px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 3px;
    padding: 7px 7px 10px 7px;
    display: flex;
    flex-flow: column;
    justify-content: space-between; }
  .slider__name {
    opacity: 1;
    color: #f6f6f6;
    font: normal 400 13px "Arial", "Arial", "Tahoma", sans-serif; }
  .slider__link {
    color: #ffc14c;
    text-decoration: none; }
    .slider__link:hover {
      text-decoration: underline; }
  .slider__text {
    opacity: 1;
    font: normal 400 11px "Arial", "Arial", "Tahoma", sans-serif;
    color: #676767; }

.slider-container {
  width: 292px;
  height: 189px;
  position: relative;
  overflow: hidden; }

.caption {
  font: normal 400 18px "Oxygen", "Arial", "Tahoma", sans-serif;
  padding: 0 0 0 3px;
  color: #222; }
  .caption_amazing {
    font-size: 38px;
    color: #515151; }
  .caption_pb_15 {
    padding-bottom: 15px; }
  .caption_undiscovered-beauty {
    font-size: 14px;
    color: #666;
    padding: 0 0 5px 0; }

.hero-content {
  width: 486px;
  display: flex;
  flex-flow: column;
  align-items: flex-end; }
  .hero-content__btn {
    margin: 10px 3px; }

.hero-text {
  width: 486px;
  border-bottom: 1px solid #f6f6f6;
  display: flex;
  flex-flow: column;
  align-items: flex-end;
  padding: 18px 4px 10px 0; }
  .hero-text__description {
    padding-top: 5px;
    font: normal 400 14px "Oxygen", "Arial", "Tahoma", sans-serif;
    color: #666;
    text-align: right;
    padding-left: 82px; }

.undiscovered-beauty {
  padding: 20px 0 25px 0; }
  .undiscovered-beauty__container {
    display: flex;
    justify-content: space-between;
    padding-top: 15px; }

.place {
  width: 300px; }
  .place__name {
    background: #f0f0f0;
    height: 100%;
    padding: 8px 8px 14px 8px;
    position: relative;
    transition: all .7s;
    margin-bottom: 8px;
    border-left: 1px solid #f0f0f0;
    border-right: 1px solid #f0f0f0; }
  .place__head {
    position: relative; }
    .place__head:hover .place__buttons {
      opacity: 1; }
    .place__head:hover .place__name {
      background: #fff; }
    .place__head:after {
      content: "";
      width: 100%;
      height: 6px;
      position: absolute;
      background: url("../images/sprite.png") 0 -62px no-repeat;
      left: 0;
      bottom: 0; }
  .place__img {
    height: 148px;
    width: 100%;
    position: relative; }
  .place__buttons {
    opacity: 0;
    left: 3px;
    top: 3px;
    position: absolute;
    width: 294px;
    height: 142px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 1px 100px rgba(0, 0, 0, 0.75);
    transition: all .7s; }
  .place__download {
    border-radius: 100%;
    display: inline-block;
    border: 5px solid rgba(0, 0, 0, 0.2);
    width: 37px;
    height: 37px;
    background: url("../images/sprite.png") no-repeat -105px 0;
    cursor: pointer; }
    .place__download:hover {
      background-position: -248px 0; }
  .place__add {
    border-radius: 100%;
    display: inline-block;
    border: 8px solid rgba(0, 0, 0, 0.2);
    width: 62px;
    height: 62px;
    background: url("../images/sprite.png") no-repeat -142px 0;
    cursor: pointer; }
    .place__add:hover {
      background-position: -288px 0; }
  .place__view {
    border-radius: 100%;
    display: inline-block;
    border: 5px solid rgba(0, 0, 0, 0.2);
    width: 37px;
    height: 37px;
    cursor: pointer;
    background: url("../images/sprite.png") no-repeat -210px 0; }
    .place__view:hover {
      background-position: -352px 0; }

.picture {
  border: 1px solid #f1f1f1;
  padding: 2px;
  width: 300px;
  height: 148px; }

.text {
  font: normal 400 12px "Arial", "Arial", "Tahoma", sans-serif;
  color: #666;
  padding: 10px;
  line-height: 18px;
  text-align: justify; }

.highlighted {
  background: #ffe7b9;
  color: #c07e00; }

.tabs-container {
  padding: 0 0 33px 0;
  border-bottom: 1px solid #e5e5e5; }

.tabs {
  font-size: 0;
  border-radius: 3px 3px 0 0;
  background: #fcfcfc;
  border: 1px solid #ececec; }
  .tabs__item {
    color: #666;
    font: normal 400 14px "Arial", "Arial", "Tahoma", sans-serif;
    padding: 15px 12px;
    background: #fcfcfc;
    display: inline-block;
    cursor: pointer;
    border-right: 1px solid #ececec; }
    .tabs__item:hover {
      color: #000; }
    .tabs__item:first-child {
      border-radius: 3px 0 0 0; }
    .tabs__item_selected {
      background: #ffffff;
      position: relative;
      color: #000000; }
      .tabs__item_selected:after {
        content: "";
        width: 100%;
        height: 1px;
        background: #ffffff;
        position: absolute;
        bottom: -1px;
        left: 0; }

.list {
  color: #333;
  font: normal 400 12px "Arial", "Arial", "Tahoma", sans-serif;
  padding: 0;
  width: 275px; }
  .list__item {
    list-style: none;
    padding: 3px 0 3px 23px;
    position: relative; }
    .list__item:before {
      content: "";
      position: absolute;
      width: 23px;
      height: 100%;
      left: 0;
      top: 0;
      background: url("../images/sprite.png") no-repeat -394px -14px; }

.tab-inf {
  width: 275px;
  display: flex; }
  .tab-inf__img {
    width: 122px;
    height: 99px;
    border: 1px solid #f1f1f1;
    padding: 2px; }
  .tab-inf__caption {
    font: normal 400 12px "Arial", "Arial", "Tahoma", sans-serif;
    color: #333;
    padding: 0 8px;
    font-weight: 700; }
  .tab-inf__text {
    line-height: 20px;
    font: normal 400 12px "Arial", "Arial", "Tahoma", sans-serif;
    color: #999;
    padding: 8px; }

.tab {
  padding: 26px 20px;
  border: 1px solid #ececec;
  border-top: none;
  display: none;
  border-radius: 0 0 3px 3px; }
  .tab__caption {
    padding: 10px 0; }
  .tab__content {
    display: flex;
    justify-content: space-between;
    padding-top: 12px;
    border-top: 1px solid #e5e5e5; }
  .tab_show {
    display: block; }

.footer {
  padding: 15px 1px 25px 1px;
  display: flex;
  position: relative; }
  .footer > ul {
    margin-right: 45px; }
    .footer > ul:first-child {
      margin-right: 64px; }
    .footer > ul:last-child {
      margin-right: 0; }
  .footer:after {
    content: "";
    height: 30px;
    width: 972px;
    position: absolute;
    left: -20px;
    bottom: -44px;
    background: url("../images/sprite.png") 0 -76px; }

.link-list {
  width: 180px;
  padding: 0;
  font-size: 0;
  list-style: none; }
  .link-list__item {
    border-bottom: 1px solid #e5e5e5; }
    .link-list__item:last-child {
      border-bottom: none; }
  .link-list__caption {
    color: #ffad19;
    padding: 6px 2px;
    font: normal 700 12px "Arial", "Arial", "Tahoma", sans-serif; }
  .link-list__link {
    display: inline-block;
    width: 100%;
    color: #666;
    text-decoration: none;
    font: normal 400 12px "Arial", "Arial", "Tahoma", sans-serif;
    padding: 6px 2px;
    transition: color .3s; }
    .link-list__link:hover {
      color: #000;
      transition: color .3s; }

.articles-list {
  width: 458px;
  padding: 0;
  font-size: 0;
  list-style: none; }
  .articles-list__item {
    padding-left: 32px;
    position: relative;
    border-bottom: 1px solid #e5e5e5; }
    .articles-list__item:last-child {
      border-bottom: none; }
    .articles-list__item:before {
      content: "";
      position: absolute;
      width: 32px;
      height: 100%;
      left: 0;
      top: 0;
      background: url("../images/sprite.png") no-repeat -64px 0; }
  .articles-list__caption {
    color: #ffad19;
    padding: 6px 2px;
    font: normal 700 12px "Arial", "Arial", "Tahoma", sans-serif; }
  .articles-list__link {
    display: inline-block;
    width: 100%;
    color: #666;
    text-decoration: none;
    font: normal 400 12px "Arial", "Arial", "Tahoma", sans-serif;
    padding: 6px 2px 6px 0;
    transition: color .3s; }
    .articles-list__link:hover {
      transition: color .3s;
      color: #000; }
  .articles-list__text {
    font-size: 11px;
    color: #aaa;
    width: 100%; }

.contacts__content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; }

.form {
  width: 612px;
  border-right: 1px solid #e5e5e5;
  padding-bottom: 64px; }
  .form__caption {
    padding: 14px 3px;
    color: #222;
    width: 100%;
    font: normal 400 1.125rem "Oxygen", "Arial", "Tahoma", sans-serif;
    border-bottom: 1px solid #e5e5e5;
    position: relative;
    margin-bottom: 12px; }
    .form__caption:before {
      content: "";
      position: absolute;
      bottom: -5px;
      left: 53px;
      z-index: 300;
      background: #fff;
      width: 8px;
      height: 8px;
      transform: rotate(45deg);
      border: 1px solid #fff;
      border-right-color: #e5e5e5;
      border-bottom-color: #e5e5e5; }
    .form__caption:after {
      content: "";
      height: 1px;
      position: absolute;
      width: 100%;
      bottom: -1px;
      left: 0;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); }

.field {
  position: relative;
  width: 552px;
  padding: 7px 268px 7px 5px;
  overflow: hidden; }
  .field_required ~ .field__invalid {
    display: none; }
  .field_required ~ .field__valid {
    display: none; }
  .field_required:valid {
    border-color: #cae28b; }
    .field_required:valid ~ .field__valid {
      display: block; }
  .field_required:invalid {
    border-color: #ecb0b0; }
    .field_required:invalid ~ .field__invalid {
      display: block; }
  .field_area {
    width: 100%;
    padding-right: 31px; }
  .field_submit {
    padding-left: 104px; }
  .field__name {
    font: normal 400 0.75rem "Arial", "Arial", "Tahoma", sans-serif;
    color: #444; }
  .field__input {
    border: 1px solid #ddd;
    border-radius: 3px;
    box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.1);
    padding: 4px;
    float: right; }
  .field__area {
    border: 1px solid #ddd;
    border-radius: 3px;
    box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.1);
    padding: 8px;
    float: right;
    resize: none;
    width: 476px;
    height: 176px; }
  .field__valid {
    display: none;
    position: absolute;
    top: 11px;
    left: 288px;
    width: 14px;
    height: 14px;
    background: url("../images/sprite.png") -462px 0 no-repeat; }
  .field__invalid {
    display: none;
    position: absolute;
    top: 8px;
    left: 292px;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
    color: #ac4040;
    font: normal 400 0.6875rem "Arial", "Arial", "Tahoma", sans-serif;
    padding: 5px 10px;
    border-radius: 3px;
    background-color: #ecb0b0; }
    .field__invalid:after {
      content: "";
      position: absolute;
      top: 8px;
      left: -3px;
      height: 8px;
      background: #ecb0b0;
      width: 8px;
      transform: rotate(45deg); }

.title {
  padding: 14px 3px;
  text-transform: uppercase;
  color: #bbb;
  width: 100%;
  font: normal 400 1.125rem "Oxygen", "Arial", "Tahoma", sans-serif;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  position: relative; }
  .title:before {
    content: "";
    height: 1px;
    position: absolute;
    width: 100%;
    top: -1px;
    left: 0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); }
  .title:after {
    content: "";
    height: 1px;
    position: absolute;
    width: 100%;
    bottom: -1px;
    left: 0;
    box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.15); }

.information {
  border: 1px solid #ececec;
  border-radius: 3px;
  padding: 8px;
  margin-top: 12px;
  width: 300px; }
  .information__caption {
    color: #666;
    font: normal 700 0.75rem "Arial", "Arial", "Tahoma", sans-serif;
    text-transform: uppercase;
    padding-bottom: 8px;
    border-bottom: 1px solid #e5e5e5; }
  .information__txt {
    color: #444;
    text-align: justify;
    padding: 10px 2px;
    font: normal 400 0.75rem "Arial", "Arial", "Tahoma", sans-serif;
    line-height: 20px; }

/*# sourceMappingURL=styles.css.map */
